@font-face {
  font-family: 'Waukegan';
  src: url(assets/WaukeganLdo-ax19.ttf);
}

body {
  font-family: Waukegan, Arial, Helvetica, sans-serif;
  font-size: 15pt;
  background-color: beige;
  /* background-image: url('assets/grid-lines.svg'); */
  /* background-repeat: repeat; */
}

h2, h3, h4, h5, h6 {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  background-color: #4E4B42;
  color: beige;
  margin-bottom: 0;
  margin-top: 0;
}

h3, h4, h5, h6 {
  background-color: #ada894;
}

ul {
  list-style-type: square;
}

.content-text {
  margin: auto;
  max-width: 650px;
}

.title{
  text-shadow: #7c796c 3px 3px;
}

.icon {
  height: 1em;
  display: inline-block;
  vertical-align: bottom;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-image: url('assets/grid-lines.svg');
  background-repeat: repeat;
  pointer-events: none; 
  opacity: 0.05;
  z-index: 100; 
}

#unit-likeness-figure {
  float: right;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

#unit-likeness-image {
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right:0;
}

#unit-likeness-caption {
  text-align: center;
}
